{% load static %}

<!-- Core JS Files -->
<script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap-material-design.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/moment.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert2.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.bootstrap-wizard.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap-selectpicker.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
<script src="{% static 'assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/fullcalendar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery-jvectormap.js' %}"></script>
<script src="{% static 'assets/js/plugins/nouislider.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/arrive.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/chartist.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
<script src="{% static 'assets/js/material-dashboard.js' %}?v=2.1.2" type="text/javascript"></script>

<!-- External Bootstrap and jQuery Scripts (Remain As Is) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js" integrity="sha384-S5Zg69x2neZTC9AWBqJmje4hzFQ2bFhFyUvVC5MJHOUTtgdT/nsP9RJfkCOJ0BK6" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4Ck4SOF4y4Ck4C2DgHfViXydVeLm+JDM" crossorigin="anonymous"></script>
