{% extends 'manager_dashboard.html' %}
{%load static%}
{% block content %}
<!-- Your specific page content will go here -->
<div class="messages">
    {% for message in received_messages %}
        <div class="message">
            <p>From: {{ message.sender.username }}</p>
            <p>Content: {{ message.content }}</p>
            <hr>
        </div>
    {% endfor %}

    {% if received_messages %}
        <ul>
        {% for message in received_messages %}
            <li>
                From: {{ message.sender.username }}<br>
                Subject: {{ message.subject }}<br>
                Message: {{ message.body }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You have no messages.</p>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send Message</button>
    </form>

    <a href="{% url 'inbox' %}">Inbox</a>
    <a href="{% url 'compose_message' %}">Compose Message</a>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'assets\js\driver_communication.js' %}"></script>
{% endblock extra_js %}
